[config]
DB_TYPE="mysql"
MYSQL_DB_DRIVER="mysql"
MYSQL_DB_HOST="127.0.0.1"
MYSQL_DB_PORT="3306"
MYSQL_DB_DATABASE="dcrphp"
MYSQL_DB_USERNAME="dcrphp"
MYSQL_DB_PASSWORD="dcrphp"
ADMIN_RESOURCE_URL="/resource/houtai/"
APP_RESOURCE_URL="/resource/help/"