<!DOCTYPE HTML>
<html>
<head>
    {% include 'common/header.html' ignore missing %}
    <link rel="stylesheet" href="{{admin_resource_url}}/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body>

{% include 'common/navigate.html' ignore missing %}

<div class="page-container">
    <div class="Huialert Huialert-info"><i class="Hui-iconfont">&#xe6a6;</i>本页面可以自定义系统的配置项，二次开发的利器。如果是系统自带不让操作</div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l">
    <a class="btn btn-primary radius" onclick="edit('add',0)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i>添加列表</a>
    </span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr>
                <th width="40">名称</th>
                <th width="40">关键字</th>
                <th width="40">系统自带</th>
                <th width="40">添加时间</th>
                <th width="50">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for config in config_list %}
            <tr class="va-m">
                <td>{{config.name}}</td>
                <td>{{config.keyword}}</td>
                <td>{{config.is_system}}</td>
                <td>{{config.add_time}}</td>
                <td class="td-manage">
                    {% if 1 != config.is_system %}
                    <a style="text-decoration:none" class="ml-5" onClick="edit('edit',{{config.id}})" href="javascript:;" title="改名"> <i class="Hui-iconfont">&#xe6df;</i></a>
                    <a style="text-decoration:none" class="ml-5"  onClick="del(this,{{config.id}})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    {% endif %}
                    <a style="text-decoration:none" class="ml-5" onClick="window.location = '/admin/config/config-list-item-view/{{config.id}}'" href="javascript:;" title="编辑"> <i class="Hui-iconfont">&#xe667;</i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include '/common/footer.html' ignore missing %}
<script type="text/javascript">
    /*删除*/
    function del(obj, id) {
        let lobj = layer.confirm('确认要删除吗？', function (index) {
            ajax('/admin/config/config-list-delete-ajax',"id=" + id,'POST',
                function(result){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                }
            )
        });
    }
    /*添加*/
    function edit(type,id) {
        layer.open({
            id:1,
            type: 1,
            title: '输入基本信息',
            style: 'width:80%;height:auto;',
            content: "<div style='justify-content:center;padding: 10px;'>" +
                "<div class='clear'>名称:<input class='input-text' type='text' id='config_list_name'> </div><br>" +
                "<div class='clear'>关键字:<input class='input-text' type='text' id='config_list_key'> (小写字母加数字,字母开头,可用来做标识)</div>" +
                "</div>",
            btn:['保存','取消'],
            yes:function (index,layerobj) {
                //获取输入框里面的值
                let config_list_name = $("#config_list_name").val();
                let config_list_key = $("#config_list_key").val();
                layer.close(index);
                // 在这里提交数据
                ajax('/admin/config/config-list-edit-ajax',"config_list_name=" + config_list_name + "&type=" + type + "&id=" + id + "&model={{model}}&config_list_key=" + config_list_key,'POST',
                    function(result){
                        window.location=window.location;
                    }
                )
            },
            no:function (index,layero) {
                layer.close(index);
            }
        });
    }
</script>
</body>
</html>