<!DOCTYPE HTML>
<html>
<head>
    {% include 'common/header.html' ignore missing %}
</head>
<body>

{% include 'config/navigate.html' ignore missing %}
<div class="page-container">
    <div class="mt-20">
        <form action="/admin/config/config-ajax" method="post" class="form form-horizontal" id="form">
            <input name="type" type="hidden" value="base">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                {% for config in config_item_list %}
                <tr>
                    <th width="100" class="text-r">{{config.cli_form_text}}</th>
                    <th width="800" class="text-l">{{config.html|raw}}</th>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% include 'common/footer.html' ignore missing %}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function () {
        $("#form").validate({
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (data) {
                        data = $.parseJSON(data);
                        if (1 == data.ack) {
                            layer.msg('已保存!', {icon: 1, time: 1000});
                        } else {
                            layer.alert(data.msg, {icon: 2});
                        }
                    },
                    error: function (data) {
                        //console.log(data);
                    }
                });
            }
        });
    });
</script>
</body>
</html>