<!DOCTYPE HTML>
<html>
<head>
    {% include 'common/header.html' ignore missing %}
</head>
<body>

{% include 'config/navigate.html' ignore missing %}
<div class="page-container">
    <div class="mt-20">
        <form action="/admin/config/config-base-ajax" method="post" class="form form-horizontal" id="form">
            <input name="type" type="hidden" value="template">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <tr class="text-r">
                    <th width="100">选择模板</th>
                    <th width="800">
                        <span class="select-box">
                            <select class="select" id="template_name" name="template_name">
                                {% for template in system_template_list %}
                                <option value="{{template}}">{{template}}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% include 'common/footer.html' ignore missing %}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $('#template_name').val('{{config_list.template_name}}');
    $(function () {
        $("#form").validate({
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (data) {
                        data = $.parseJSON(data);
                        if (1 == data.ack) {
                            layer.msg('已保存!', {icon: 1, time: 1000});
                        } else {
                            layer.alert(data.msg, {icon: 2});
                        }
                    },
                    error: function (data) {
                        //console.log(data);
                    }
                });
            }
        });
    });
</script>
</body>
</html>