<!DOCTYPE HTML>
<html>
<head>
    {% include 'common/header.html' ignore missing %}
    <link rel="stylesheet" href="{{admin_resource_url}}/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body>

{% include 'model/navigate.html' ignore missing %}
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"> <a
            href="javascript:;" onclick="add_edit('添加','/admin/model/category-edit-view/{{model_name}}/add','','300')"
            class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a></span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-l">
                <th width="20%">分类名</th>
                <th width="">操作</th>
            </tr>
            </thead>
            <tbody>
            <!--这个内容在Model下的getCategoryTrHtml里改 -->
            {{category_html|raw}}
            </tbody>
        </table>
    </div>
</div>

{% include '/common/footer.html' ignore missing %}
<script type="text/javascript">
    /*用户-添加*/
    function add_edit(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*用户-删除*/
    function del(id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '/admin/model/deleteCategoryAjax',
                dataType: 'json',
                data: "id=" + id,
                success: function (data) {
                    window.location = window.location;
                },
                error: function (data) {
                    //layer.alert(data.msg, {icon: 2});
                },
            });
        });
    }
</script>
</body>
</html>