<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    {% include 'common/head.html' ignore missing %}
</head>
<body>
<article class="page-container">
    <form action="/admin/model/category-edit-ajax" method="post" class="form form-horizontal" id="form">
        <input type="hidden" name="model_name" value="{{model_name}}">
        <input type="hidden" name="action" value="{{action}}">
        <input type="hidden" name="id" value="{{category_id}}">
        <div class="row cl">
            <label class="form-label col-sm-3"><span class="c-red">*</span>上级：</label>
            <div class="formControls col-sm-6">
                {% autoescape false %}
                {{category_select_html}}
                {% endautoescape %}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-sm-3"><span class="c-red">*</span>分类名：</label>
            <div class="formControls col-sm-6">
                <input value="{{category_name}}" type="text" class="input-text" placeholder="" id="category_name" name="category_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-sm-3"></label>
            <div class="formControls col-sm-6">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

{% include 'common/footer.html' ignore missing %}
<script type="text/javascript">
    $(function () {
        $("#form").validate({
            rules: {
                category_name: {
                    required: true
                },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (data) {
                        data = $.parseJSON(data);
                        if (1 == data.ack) {
                            let index = parent.layer.getFrameIndex(window.name);
                            parent.window.location=parent.window.location;
                            parent.layer.close(index);
                            //$.Huimodalalert(data.msg,2000);
                        }else{
                            alert(data.msg);
                        }
                    },
                    error: function (data) {
                        //console.log(data);
                    }
                });
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>