<!DOCTYPE HTML>
<html>
<head>
    {% include 'common/header.html' ignore missing %}
    <style>
        .search{}
        .search input{
            width: 150px;
        }
    </style>
</head>
<body>

{% include 'common/navigate.html' ignore missing %}
<div class="page-container">
    <div class="text-c search">
        <form action="#" method="get">
            {% for search in search_col %}
            {{search.title}}:{{search.html|raw}}
            {% endfor %}
            <button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜索
            </button>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        {% if 1 == config.is_add or '是' == config.is_add %}
        <span class="l">
            <a href="javascript:;" onclick="open_iframe('添加','/admin/tools/table-edit-edit-view/add/{{config.table_name}}{{add_button_addition_html}}','{{config.edit_window_width}}','{{config.edit_window_height}}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
            {{button_area_addition_html|raw}}
        </span>
        {% endif %}
        <span class="r">共有数据：<strong>{{user_num}}</strong> 条</span></div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr>
                {% for col in list_col %}
                <th>{{col.title}}</th>
                {% endfor %}
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for info in list %}
            <tr>
                {% for col in list_col %}
                <td>{{info[col.db_field_name]}}</td>
                {% endfor %}
                <td class="td-manage">
                    {% if 1 == config.is_edit or '是' == config.is_edit %}
                    <a title="编辑" href="javascript:;"
                       onclick="open_iframe('编辑','/admin/tools/table-edit-edit-view/edit/{{key}}/{{info.id}}{{edit_button_addition_html}}','{{config.edit_window_width}}','{{config.edit_window_height}}')"
                       class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    {% endif %}
                    {% if 1 == config.is_del or '是' == config.is_del %}
                    <a title="删除" href="javascript:;" onclick="del(this,'{{key}}','{{info.id}}')" class="ml-5"
                       style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    {% endif %}
                    {{info.addition_option_html|raw}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>{{pages|raw}}</div>
    </div>
</div>

{% include '/common/footer.html' ignore missing %}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

    /*删除*/
    function del(obj, key, id) {
        layer.confirm('确认要删除吗？', function (index) {
            ajax('/admin/tools/table-edit-edit-ajax',"key=" + key + "&type=delete&id=" + id,'POST',
                function(result){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                }
            )
        });
    }
</script>
</body>
</html>