<!DOCTYPE html>
<html>
<head>
    {% include 'header.html' ignore missing %}
</head>
<body>
<div class="layui-container">

    {% include 'nav.html' ignore missing %}
    <div class="layui-row">
        {% include 'left.html' ignore missing %}
        <div class="layui-col-xs6 layui-col-sm6" style="width:81%; padding: 15px;">
            <span class="layui-breadcrumb" style="visibility: visible;">
                {{position|raw}}
            </span>
            <div class="layui-tab">
                <div class="model_title">{{info.list.ml_title}}</div>
                <div class="model_info">
                    添加时间：{{info.list.ml_add_time|date('Y-m-d')}} 浏览量：{{info.list.ml_view_nums}}
                </div>
                <div class="layui-tab-content model_detail">
                    {{info.addition.ma_content|raw}}
                </div>
                {% if info.field %}
                <fieldset class="layui-elem-field">
                    <legend style="font-size: 14px;">附加信息</legend>
                    <div class="layui-field-box model_addition">
                        <ul>
                            {% for field in info.field %}
                            <li>{{field.mf_dec}}:{{field.mf_value}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </fieldset>
                {% endif %}
            </div>
            <div class="pages">{{pages|raw}}</div>
        </div>
    </div>
    {% include 'footer.html' ignore missing %}

</div>
{% include 'footer-script.html' ignore missing %}

</body>
</html>