<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    {% include 'common/header.html' ignore missing %}
</head>
<body>
<article class="page-container">
    <form action="/admin/user/add-edit-ajax" method="post" class="form form-horizontal" id="form">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input
                        {% if user_id is defined %}
                        readonly style="border:none;"
                        {% endif %}
                        value="{{user_info.u_username}}" type="text" class="input-text" placeholder="" id="username" name="username">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input
                        {% if user_id is defined %}
                        placeholder="不修改请留空"
                        {% endif %}
                        type="text" class="input-text" placeholder="" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>重复密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input
                        {% if user_id is defined %}
                        placeholder="不修改请留空"
                        {% endif %}
                        type="text" class="input-text" placeholder="" id="password_re" name="password_re">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="sex" type="radio" id="sex-1" value="1"
                           {% if 1 == user_info.u_sex %}
                           checked
                           {% endif %}>
                    <label for="sex-1">男</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sex-2" name="sex" value="2"
                           {% if 2 == user_info.u_sex %}
                           checked
                           {% endif %}>
                    <label for="sex-2">女</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{user_info.u_mobile}}" placeholder="" id="mobile" name="mobile">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="tel" id="tel" value="{{user_info.u_tel}}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="note" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符"
                          onKeyUp="$.Huitextarealength(this,100)">{{user_info.u_note}}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">超级用户：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <label><input
                        {% if  user_info.u_is_super %} checked {% endif %}
                        value="1" name="is_super" type="checkbox" class="input-input">拥有全部权限</label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {% for role_config in role_config_list %}
                <label><input
                        {% if  role_config.ur_id in role_keys %} checked {% endif %}
                        value="{{role_config.ur_id}}" name="roles[]" type="checkbox" class="input-input">{{role_config.ur_name}}</label>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

{% include 'common/footer.html' ignore missing %}
<script type="text/javascript">
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").validate({
            rules: {
                username: {
                    required: true,
                    minlength: {{username_len_min}},
                    maxlength: {{username_len_max}}
                },
                password: {
                    minlength: {{password_len_min}},
                    maxlength: {{password_len_max}}
                },
                password_re: {
                    equalTo: '#password',
                },
                sex: {
                    required: true,
                },
                mobile: {
                    required: true,
                    isMobile: true,
                },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (data) {
                        data = $.parseJSON(data);
                        if (1 == data.ack) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.window.location=parent.window.location;
                            parent.layer.close(index);
                            //$.Huimodalalert(data.msg,2000);
                        }else{
                            layer.alert(data.msg, {icon: 2});
                        }
                    },
                    error: function (data) {
                        //console.log(data);
                    }
                });
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>