<!DOCTYPE HTML>
<html>
<head>
  {% include 'common/head.html' ignore missing %}
<title>修改密码</title>
</head>
<body>
<div class="pd-20">
  <form class="Huiform" id="frm" action="/admin/user/password-edit-ajax" method="post">
    <table class="table">
      <tbody>
      <tr>
        <th width="100" class="text-r"><span class="c-red">*</span>新密码：</th>
        <td><input type="password" style="width:200px" class="input-text" value="" id="password_new" name="password_new"></td>
      </tr>
        <tr>
          <th class="text-r"><span class="c-red">*</span> 确认密码：</th>
          <td><input type="password" style="width:200px" class="input-text" value="" id="password_new_re" name="password_new_re"></td>
        </tr>
        <tr>
          <th></th>
          <td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{% include 'common/footer.html' ignore missing %}
<script type="text/javascript">
    $(function () {
        $("#frm").validate({
            rules: {
                password_new: {
                    required: true,
                    minlength: {{password_len_min}},
                    maxlength: {{password_len_max}}
                },
                password_new_re: {
                    required: true,
                        equalTo: '#password_new',
                },
            },
        onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
            $(form).ajaxSubmit({
                success: function (data) {
                    data = $.parseJSON(data);
                    if (1 == data.ack) {
                        parent.window.location='/admin/index/login';
                    }else{
                        alert(data.msg);
                    }
                },
                error: function (data) {
                    //console.log(data);
                }
            });
        }
    });
    });
</script>
</body>
</html>